* {
    color: plum;
}

h1 {
    font-family: Georgia;
}

h3 {
    font-family: Georgia;
}

h1, h2 {
    color: palevioletred;
}

h3::first-letter {
    font-size: 30px;
}

input[type="password"] {
    color: #8888FF;
}

a[href*="google"] {
    color: powderblue;
}

a:hover {
    color: cornflowerblue;
}

.post a {
    text-decoration: none;
    font-weight: 700;
}

.post a:hover {
    text-decoration: underline;
}

button:hover {
    background-color: aliceblue;
    color: cornflowerblue;
}

.post button:active {
    background-color: palevioletred;
}

button {
    color: white;
    background-color: #8888FF;
}

input + button {
    background-color: pink;
}

h3 + button {
    font-size: 15px;
}

footer p::selection {
    background-color: #fff5f2;
}

.tag {
    background-color: #8888FF;
    font-size: 15px;
}

footer > a {
    color: #8888FF;
}

.post:nth-of-type(2n){
    background-color: #fff5f2;
}

